# FinanceDataReader
- https://seong6496.tistory.com/169
- https://financedata.github.io/posts/finance-data-reader-users-guide.html

In [1]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import FinanceDataReader as fdr 
fdr.__version__

'0.9.50'

## 전체 종목 크도 가져오기

In [3]:
df_krx = fdr.StockListing("KRX")
print(df_krx.shape)
df_krx.head()

(2722, 17)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72200,1,1300,1.83,71100,72300,70800,13025855,934784723200,431018300110000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,608000,1,17000,2.88,597000,610000,597000,407587,246464158000,142272000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,114600,1,4900,4.47,110300,114700,108300,6177007,694844491200,83429071029000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,802000,1,17000,2.17,790000,810000,789000,147832,118571218000,57081548000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,755000,1,18000,2.44,741000,761000,735000,210258,157644140000,53297218965000,70592343,STK

In [4]:
df_krx[df_krx['ISU_CD'] == 'KR7005930003']

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72200,1,1300,1.83,71100,72300,70800,13025855,934784723200,431018300110000,5969782550,STK

In [5]:
df_krx[df_krx['Name'] == '마녀공장']

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
317,439090,KR7439090002,마녀공장,KOSDAQ,중견기업부,48250,1,6650,15.99,43550,53000,43050,10773241,527687233750,790251045000,16378260,KSQ