# [원-달러 환율 조회](https://kr.investing.com/currencies/usd-krw-historical-data)

In [1]:
import pandas as pd

In [16]:
save_path_2000 = '../data/raw/USD_KRW_2000.csv'
df_2000 = pd.read_csv(save_path_2000)
df_2000 = df_2000[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

df_2000.head()

             날짜        종가        시가        고가        저가    변동 %
0  2009- 12- 31  1,166.08  1,168.42  1,168.42  1,166.08  -0.10%
1  2009- 12- 30  1,167.25  1,167.25  1,172.55  1,161.55   0.02%
2  2009- 12- 29  1,167.00  1,168.50  1,173.10  1,165.15  -0.21%
3  2009- 12- 28  1,169.50  1,173.57  1,176.10  1,166.70  -0.47%
4  2009- 12- 25  1,175.07  1,175.07  1,175.07  1,175.07   0.00%

In [17]:
df_2000['종가'] = df_2000['종가'].map(lambda x: float(x.replace(',','')))
df_2000['시가'] = df_2000['시가'].map(lambda x: float(x.replace(',','')))
df_2000['고가'] = df_2000['고가'].map(lambda x: float(x.replace(',','')))
df_2000['저가'] = df_2000['저가'].map(lambda x: float(x.replace(',','')))
df_2000['변동 %'] = df_2000['변동 %'].map(lambda x: float(x.replace('%','')))

df_2000.head()

             날짜       종가       시가       고가       저가  변동 %
0  2009- 12- 31  1166.08  1168.42  1168.42  1166.08 -0.10
1  2009- 12- 30  1167.25  1167.25  1172.55  1161.55  0.02
2  2009- 12- 29  1167.00  1168.50  1173.10  1165.15 -0.21
3  2009- 12- 28  1169.50  1173.57  1176.10  1166.70 -0.47
4  2009- 12- 25  1175.07  1175.07  1175.07  1175.07  0.00

In [19]:
save_paths = ['../data/raw/USD_KRW_2000.csv', '../data/raw/USD_KRW_2010.csv', '../data/raw/USD_KRW_2020.csv']

def get_exchange_rate(save_paths):
    df = pd.DataFrame()
    for save_path in save_paths:
        _df = pd.read_csv(save_path)
        _df = _df[['날짜', '종가', '시가', '고가', '저가', '변동 %']]
        _df['종가'] = _df['종가'].map(lambda x: float(x.replace(',','')))
        _df['시가'] = _df['시가'].map(lambda x: float(x.replace(',','')))
        _df['고가'] = _df['고가'].map(lambda x: float(x.replace(',','')))
        _df['저가'] = _df['저가'].map(lambda x: float(x.replace(',','')))
        _df['변동 %'] = _df['변동 %'].map(lambda x: float(x.replace('%','')))

        df = pd.concat([df,_df], ignore_index=True)

    return df

In [20]:
df = get_exchange_rate(save_paths)

print(f'{df.shape} / {df.isnull().sum()}')
df.head()

(6128, 6) / 날짜      0
종가      0
시가      0
고가      0
저가      0
변동 %    0
dtype: int64

             날짜       종가       시가       고가       저가  변동 %
0  2009- 12- 31  1166.08  1168.42  1168.42  1166.08 -0.10
1  2009- 12- 30  1167.25  1167.25  1172.55  1161.55  0.02
2  2009- 12- 29  1167.00  1168.50  1173.10  1165.15 -0.21
3  2009- 12- 28  1169.50  1173.57  1176.10  1166.70 -0.47
4  2009- 12- 25  1175.07  1175.07  1175.07  1175.07  0.00

In [21]:
save_path = '../data/exchange_rate_from_2000.csv'
df.to_csv(save_path, header=True, index=False, encoding='utf-8')